﻿@model IEnumerable<Csharp_6_Group_65_HomeWork_Ubaydullaev_Gairatbek.Models.RestaurantModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Список Ресторанов</h1>
<form>
    <a asp-action="Create">Добавить новый ресторан</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название Заведения
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form asp-action="ShowRestaurant" asp-controller="Restaurant">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Посмотреть" />
                </form>
            </td>
        </tr>
}        

    </tbody>
</table>
