﻿@model RestaurantInfoModel

@{
    ViewData["Title"] = "ShowRestaurant";
}

<h1>Подробно о Заведении</h1>


<h3>
    Нозвание
</h3>
<h5>
    Описание
</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form asp-action="AddToBasket" asp-controller="Basket">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Добавить в корзину" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

