﻿@model IEnumerable<Csharp_6_Group_65_HomeWork_Ubaydullaev_Gairatbek.Models.DishModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Раздел Блюд</h1>

<form>
    <a asp-action="Create">Добавить новое блюдо</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant)
            </td>
        </tr>
}
    </tbody>
</table>
