﻿@model IEnumerable<Csharp_6_Group_65_HomeWork_Ubaydullaev_Gairatbek.Models.BasketModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Корзина</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Сумма
            </th>
            <th>
                Количество блюд
            </th>
            <th>
                Название блюды
            </th>
            <th>
                Название Ресторана
            </th>
            <th>
                Заказчик
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
}
    </tbody>
</table>
